body {
	background-color:white;
	background-image:url("../images/Lune.jpg");
	background-repeat:no-repeat;
	background-position:center top;
}

#blue {
	color:blue;
}
#red {
	color:red;
}

#white {
	color:white;
}

#txtcenter {
	text-align:center;
}
#fontsize {
	font-size: large;
}
